@model IEnumerable<STAS.Model.Employee>

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Restore Employees List";
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("Role");
    bool isAdmin = (userRole == "Administrator");
}

<div class="col-md-12">
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger text-center">
            @TempData["Error"]
        </div>
    }
</div>


<div class="col-md-12">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success text-center">
            @TempData["Success"]
        </div>
    }
</div>


<h1>Restore</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                    <form action="Restore" method="post" >
                        @Html.AntiForgeryToken()
                        <input type="hidden"  name="EmployeeId" value="@item.EmployeeId" />
                        <input type="submit" value="Restore" class="btn btn-primary" />
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
